extends sidebarlayout

block content
  .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-12
                h5.card-title.mb-0.mt-2 다이어트 목표 설정
          .card-body
            form#smartwizard-validation.wizard.wizard-primary(action='javascript:void(0)')
              ul
                li
                  a(href='#validation-step-1')
                    | 1단계
                    br
                    small 몸무게
                li
                  a(href='#validation-step-2')
                    | 2단계
                    br
                    small 운동빈도
                li
                  a(href='#validation-step-3')
                    | 3단계
                    br
                    small 식사빈도
                li
                  a(href='#validation-step-4')
                    | 내용확인
              div
                #validation-step-1
                  .form-group
                    label.form-label
                      | 현재 몸무게
                      span.text-danger *
                    input#editCurrnetWeight.form-control.required(name='wizard-currentWeight' type='number' placeholder="ex) 77.15")
                  .form-group
                    label.form-label
                      | 목표 몸무게
                      span.text-danger *
                    input#editTargetWeight.form-control.required(name='wizard-targetWeight' type='number' placeholder="ex) 70.0")
                  .col-12.text-right 
                    span.text-danger *
                    span 현재/목표 몸무게의 격차는 
                    strong.text-danger 20kg 
                    span 이내를 권장하고 있습니다.
                #validation-step-2
                  .form-group
                    label.form-label
                      | 주당 운동일수
                      span.text-danger *
                    .form-group
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioWorkoutFrequency' type='radio' value='1' data-txt='3일 이내' checked)
                        span.custom-control-label 3일 이내
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioWorkoutFrequency' type='radio' value='2'  data-txt='3~4일')
                        span.custom-control-label 3~4일
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioWorkoutFrequency' type='radio' value='3'  data-txt='5일 이상')
                        span.custom-control-label 5일 이상
                #validation-step-3
                  .form-group
                    label.form-label
                      | 1일 식사빈도
                      span.text-danger *
                    .form-group
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioMealFrequency' type='radio' value='3' data-txt='1일 3식')
                        span.custom-control-label 3식
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioMealFrequency' type='radio' value='4'  data-txt='1일 4식')
                        span.custom-control-label 4식
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioMealFrequency' type='radio' value='5'  data-txt='1일 5식' checked)
                        span.custom-control-label 5식
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioMealFrequency' type='radio' value='6'  data-txt='1일 6식')
                        span.custom-control-label 6식
                      label.custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(name='editRadioMealFrequency' type='radio' value='7'  data-txt='1일 7식')
                        span.custom-control-label 7식
                      .col-12.text-right 
                        span.text-danger *
                        strong.text-danger 1일 4식 
                        span 이상을 권장합니다.
                #validation-step-4
                  .form-group
                    label.form-label
                      | 현재 몸무게
                    input#editResCurrnetWeight.form-control(name='wizard-currentWeight' type='text' disabled)
                  .form-group
                    label.form-label
                      | 목표 몸무게
                    input#editResTargetWeight.form-control(name='wizard-targetWeight' type='text' disabled)
                  .form-group
                    label.form-label
                      | 주당 운동일
                    input#editResWorkoutFrequency.form-control(name='wizard-workoutFrequency' type='text' disabled)
                  .form-group
                    label.form-label
                      | 식사 빈도
                    input#editResMealFrequency.form-control(name='wizard-mealFrequency' type='text' disabled)
              script.
                document.addEventListener("DOMContentLoaded", function(event) {
                  // Validation
                  var $validationForm = $('#smartwizard-validation');
                  $validationForm.validate({
                    errorPlacement: function errorPlacement(error, element) {
                      $(element).parents('.form-group').append(
                        error.addClass('invalid-feedback small d-block')
                      )
                    },
                    highlight: function(element) {
                      $(element).addClass('is-invalid');
                    },
                    unhighlight: function(element) {
                      $(element).removeClass('is-invalid');
                    },
                    rules: {
                      'wizard-confirm': {
                        equalTo: 'input[name="wizard-password"]'
                      }
                    }
                  });

                  $validationForm.smartWizard({
                      autoAdjustHeight: false,
                      backButtonSupport: false,
                      useURLhash: false,
                      showStepURLhash: false,
                      lang: {  // Language variables
                          next: '다음', 
                          previous: '이전'
                      },
                      toolbarSettings: {
                      toolbarExtraButtons: [$('<button class="btn btn-submit btn-primary" type="button">등록하기</button>')]
                      }
                  })
                  .on('leaveStep', function(e, anchorObject, stepNumber, stepDirection) {
                    if (stepDirection === 'forward') {
                      return $validationForm.valid();
                    }
                    return true;
                  })
                  .on('showStep', function(e, anchorObject, stepNumber, stepDirection) {
                    if(stepNumber == 3){
                      $validationForm.find('.btn-submit').show();
                      $('#editResCurrnetWeight').val($('#editCurrnetWeight').val());
                      $('#editResTargetWeight').val($('#editTargetWeight').val());
                      $('#editResWorkoutFrequency').val($(':input:radio[name=editRadioWorkoutFrequency]:checked').attr('data-txt'));
                      $('#editResMealFrequency').val($(':input:radio[name=editRadioMealFrequency]:checked').attr('data-txt'));
                    }
                    return true;
                  });
                  
                  $validationForm.find('.btn-submit').on('click', function() {
                    if (!$validationForm.valid()) {
                      return;
                    }
                    
                    ajaxRecordDeitPlan();

                    return false;
                  }).hide();

                  $('input[name="datesingle"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    "locale": {
                      "format": "YYYY-MM-DD"
                    }
                  });
                });
block script
  script.
    $(document).ready(init);

    function init(){
      
    }

    function ajaxRecordDeitPlan(){
      var params = {
        currentWeight : $('#editCurrnetWeight').val(),
        targetWeight : $('#editTargetWeight').val(),
        workoutFrequency : $(':input:radio[name=editRadioWorkoutFrequency]:checked').val(),
        mealFrequency : $(':input:radio[name=editRadioMealFrequency]:checked').val()
      };

      var strURL = getUrl('/api/dietplan');
      $.ajax({ 
        type: 'POST', 
        url: strURL,
        async: false, 
        data: params
      }).done(function(resultParams){
        var message = "운동 목표가 정상적으로 등록되었습니다.";
        var title = "운동 목표 설정";
        var type = "success";

        if(resultParams.isSuccess){
          showMessage(message, title, type);
          window.location.href=getUrl('/view/dashboard');
        }else if(resultParams.needLogin){
          $('#btnMenuLogIn').trigger('click');
          type = "warning";
          message = "로그인이 필요한 서비스입니다.";
          showMessage(message, title, type);
        }else{
          type = "warning";
          message = "운동 목표 등록을 실패했습니다.";
          showMessage(message, title, type);
        }
      }).fail(function(resultParams){
        var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
        var title = "서비스점검중";
        var type = "error";
        showMessage(message, title, type);
      });
    }

    function getUrl(targetURL){
      var strURL = '';
      if(window.location.pathname.split('/').length > 1 && window.location.pathname.split('/')[1].length == 2){
        strURL = '/'+window.location.pathname.split('/')[1]+targetURL; 
      }else{
        strURL = '/kr'+targetURL; 
      }
      return strURL;
    }

    function showMessage(message, title, type){
      toastr[type](message, title, {
              positionClass: "toast-top-right",
              closeButton: true,
              progressBar: true,
              newestOnTop: true,
              rtl: false,
              timeOut: 5000
              });
    }