extends sidebarlayout

block content
 .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
  .row
    .col-12.col-lg-12.d-flex
     .card.flex-fill.w-100
      .card-header
        main.main.h-100.w-100
          .container.h-100
            .row.h-100
              .col-sm-10.col-md-8.col-lg-6.mx-auto.d-table.h-100
                .d-table-cell.align-middle
                  .text-center.mt-4
                    h1.h2 비밀번호 찾기
                    p.lead
                      | 입력하신 이메일로 임시 비밀번호를 발송합니다.
                  .card
                    .card-body
                      .m-sm-4
                        form
                          .form-group
                            label 이메일
                            input#checkEmail.form-control.form-control-lg(type='email', name='email', placeholder='이메일을 입력해주세요')
                          .text-center.mt-3
                            a#forgotPassword.btn.btn-lg.btn-primary(data-toggle="modal" style="color:white") 전송

block script
  script.
    $(document).ready(init);

    function init(){
      $('#forgotPassword').on('click', function(){
       var params={
            email : $('#checkEmail').val()
       }

       var strURL = getUrl('/api/forgotpassword');
       $.ajax({
         type : 'PUT',
         url : strURL,
         data : params
       }).done(function(resultParams){
        var type = "warning";

        if(resultParams.isSucess){
            if(resultParams.registType=='e'){
              //TODO test
              var type ="success";
              var title ="비밀번호 전송 완료";
              var message ="입력하신 정보로 비밀번호를 전송하였습니다.";

              toastr[type](message, title, {
                positionClass: "toast-top-right",
                closeButton: true,
                progressBar: true,
                newestOnTop: true,
                rtl: false,
                timeOut: 5000,
                onHidden : function(){
                  window.location.href = getUrl('/view/dashboard');
                }
              });
            }else{
              //TODO test
              var title = "비밀번호 찾기 서비스 이용불가";
              var message = "SNS 회원은 비밀번호를 찾기 서비스를 이용할 수 없습니다.";
              showMessage(message, title, type);
            }
        }else{
          var title = "입력 정보 오류";
          var message = " 입력하신 정보와 일치하는 회원이 없습니다.";
          showMessage(message, title, type);
        }
       }).fail(function(resultParams){
          var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
          var title = "서비스점검중";
          var type = "error";
          showMessage(message, title, type);
      });
     });   
    }