extends sidebarlayout

block content
 .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
  .row
    .col-12.col-lg-12.d-flex
     .card.flex-fill.w-100
      .card-header
        main.main.h-100.w-100
          .container.h-100
            .row.h-100
              .col-sm-10.col-md-8.col-lg-6.mx-auto.d-table.h-100
                .d-table-cell.align-middle
                  .text-center.mt-4
                    h1.h2 비밀번호 변경
                    p.lead
                      | 이메일 입력후 비밀번호 변경 클릭
                  .card
                    .card-body
                      .m-sm-4
                        form
                          .form-group
                            label 이메일
                            input#checkEmail.form-control.form-control-lg(type='email', name='email', placeholder='이메일을 입력해주세요')
                          .text-center.mt-3
                            a.btn.btn-lg.btn-primary(data-toggle="modal" data-target="#modalforgotpassword" style="color:white") 비밀번호 변경
                          #modalforgotpassword.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
                            .modal-dialog.modal-dialog-centered(role='document')
                              .modal-content
                                .modal-header
                                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                                .modal-body.m-3
                                  .row
                                    .col-4
                                      hr
                                    .col-4.text-center 비밀번호 변경
                                    .col-4
                                      hr
                                  .m-sm-4
                                    form
                                      .form-group
                                        label 비밀번호 
                                        input#editLoginPassword.form-control.form-control-lg(type='password' name='password' placeholder='비밀번호를 입력해주세요.')
                                .modal-footer
                                  button#btnModalLoginClose.btn.btn-secondary(type='button' data-dismiss='modal') 취소
                                  button#btnModalLogin.btn.btn-primary(type='button') 변경