extends sidebarlayout

block content
  .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-6
                h5.card-title.mb-0.mt-2 몸무게 변화
          .card-body
            .chart.chart-lg.mt-2
              canvas#chartjs-dashboard-line1
        script.
          document.addEventListener("DOMContentLoaded", function(event) {
            new Chart(document.getElementById("chartjs-dashboard-line1"), {
              type: 'line',
              data: {
                labels: ["1월", "2월",  "3월",  "4월", "5월",  "6월",  "7월", "8월",  "9월",  "10월",  "11월",  "12월"],
                datasets: [{
                  label: "몸무게",
                  fill: false,
                  backgroundColor: "rgba(65, 212, 146, 0.5)",
                  borderColor: "#41D492",
                  data: [6, 7, 8, 11, 9, 11, 8, 14, 12, 16, 9, 10]
                }]
              },
              options: {
                maintainAspectRatio: false,
                legend: {
                  display: true
                },
                tooltips: {
                  intersect: false,
                  callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += ' : ';
                        }
                        label += Math.round(tooltipItem.yLabel * 100) / 100;
                        label += '만원';
                        return label;
                    }
                  }
                },
                hover: {
                  intersect: true
                },
                plugins: {
                  filler: {
                    propagate: false
                  }
                },
                elements: {
                  line: {
                    tension: 0
                  }
                },
                scales: {
                  xAxes: [{
                    reverse: true,
                    gridLines: {
                      color: "rgba(0,0,0,0.0)"
                    }
                  }],
                  yAxes: [{
                    ticks: {
                      stepSize: 5
                    },
                    display: true,
                    borderDash: [5, 5],
                    gridLines: {
                      color: "rgba(0,0,0,0)",
                      fontColor: "#fff"
                    }
                  }]
                }
              }
            });
          });
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-6
                h5.card-title.mb-0.mt-2 체성분 변화
              .col-md-6.text-right
                button.btn.btn-primary 체성분 기록
          .card-body
            .chart.chart-lg.mt-2
              canvas#chartjs-dashboard-line
        script.
          document.addEventListener("DOMContentLoaded", function(event) {
            new Chart(document.getElementById("chartjs-dashboard-line"), {
              type: 'line',
              data: {
                labels: ["1월", "2월",  "3월",  "4월", "5월",  "6월",  "7월", "8월",  "9월",  "10월",  "11월",  "12월"],
                datasets: [{
                  label: "몸무게",
                  fill: false,
                  backgroundColor: "rgba(65, 212, 146, 0.5)",
                  borderColor: "#41D492",
                  data: [6, 7, 8, 11, 9, 11, 8, 14, 12, 16, 9, 10]
                }, {
                  label: "골격근량",
                  fill: false,
                  backgroundColor: "rgba(242, 102, 102, 0.5)",
                  borderColor: "#f26666",
                  data: [14, 15, 9, 12, 16, 17, 22, 18, 24, 32, 31, 36]
                }, {
                  label: "체지방량",
                  fill: false,
                  backgroundColor: "rgba(168, 119, 181, 0.5)",
                  borderColor: "#a877b5",
                  data: [3, 5, 4, 9, 5, 8, 5, 6, 4, 7, 4, 3]
                }]
              },
              options: {
                maintainAspectRatio: false,
                legend: {
                  display: true
                },
                tooltips: {
                  intersect: false,
                  callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += ' : ';
                        }
                        label += Math.round(tooltipItem.yLabel * 100) / 100;
                        label += '만원';
                        return label;
                    }
                  }
                },
                hover: {
                  intersect: true
                },
                plugins: {
                  filler: {
                    propagate: false
                  }
                },
                elements: {
                  line: {
                    tension: 0
                  }
                },
                scales: {
                  xAxes: [{
                    reverse: true,
                    gridLines: {
                      color: "rgba(0,0,0,0.0)"
                    }
                  }],
                  yAxes: [{
                    ticks: {
                      stepSize: 5
                    },
                    display: true,
                    borderDash: [5, 5],
                    gridLines: {
                      color: "rgba(0,0,0,0)",
                      fontColor: "#fff"
                    }
                  }]
                }
              }
            });
          });
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-6
                h5.card-title.mb-0.mt-2 FFMI(Fat Free Mas Index)
              .col-md-6.text-right
                |FFMI : 
                span.text-primary 평균이상
          .card-body
            .chart.chart-lg.mt-2
              canvas#chartjs-dashboard-line3
        script.
          document.addEventListener("DOMContentLoaded", function(event) {
            new Chart(document.getElementById("chartjs-dashboard-line3"), {
              type: 'line',
              data: {
                labels: ["1월", "2월",  "3월",  "4월", "5월",  "6월",  "7월", "8월",  "9월",  "10월",  "11월",  "12월"],
                datasets: [{
                  label: "FFMI",
                  fill: false,
                  backgroundColor: "rgba(65, 212, 146, 0.5)",
                  borderColor: "#41D492",
                  data: [6, 7, 8, 11, 9, 11, 8, 14, 12, 16, 9, 10]
                }]
              },
              options: {
                maintainAspectRatio: false,
                legend: {
                  display: true
                },
                tooltips: {
                  intersect: false,
                  callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += ' : ';
                        }
                        label += Math.round(tooltipItem.yLabel * 100) / 100;
                        label += '만원';
                        return label;
                    }
                  }
                },
                hover: {
                  intersect: true
                },
                plugins: {
                  filler: {
                    propagate: false
                  }
                },
                elements: {
                  line: {
                    tension: 0
                  }
                },
                scales: {
                  xAxes: [{
                    reverse: true,
                    gridLines: {
                      color: "rgba(0,0,0,0.0)"
                    }
                  }],
                  yAxes: [{
                    ticks: {
                      stepSize: 5
                    },
                    display: true,
                    borderDash: [5, 5],
                    gridLines: {
                      color: "rgba(0,0,0,0)",
                      fontColor: "#fff"
                    }
                  }]
                }
              }
            });
          });
    