doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='Responsive Bootstrap 4 Admin & Dashboard Template')
  meta(name='author', content='Bootlab')
  meta(name='google-signin-client_id' content='157199777865-ub07uli53lf5d1u0tism30qk7u536cni.apps.googleusercontent.com')
  link(rel='icon', href='/img/favicon.ico')
  //- title 다이어트 매니저
  title Diet manager
  link(href='/css/app.css', rel='stylesheet')
  script(src='https://apis.google.com/js/platform.js' async='' defer='')
  block lib

  body
    block content
    
